* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 20px;
  padding-bottom: 0;
}

header {
  display: none;
}

header img {
  height: 10vh;
}
header i {
  margin-left: 10px;
}

img {
  height: 20vh;
}
a {
  text-decoration: none;
}

.left {
  text-align: center;
  height: 100%;
  width: 20vw;
  position: fixed;
  /* padding-top: 11vh; */
  padding: 20px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff1e6;
  color: #111;
  overflow: hidden;
}
.left .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fa-solid,
.fa-brands,
.fa-regular {
  color: #111;
}
.left .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left .nav a {
  display: block;
  color: #111;
  margin-top: 10px;
  text-align: justify;
}

.left .nav i {
  margin-right: 5px;
}

.right {
  margin-left: 21vw;
  display: flex;
  flex-direction: column;
}

.box {
  padding: 10px 20px;
  border: 2px solid #111;
  border-radius: 10px;
  margin-top: 20px;
}
.box div {
  margin-top: 10px;
}

footer {
  background-color: #fff1e6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-align: center;
  overflow-x: hidden;
  margin-top: 20px;
  left: 0;
  bottom: 0;
  z-index: 1;
}
footer i {
  margin-right: 10px;
}
#projects a {
  text-decoration: none;
  color: blue;
}
.checked {
  color: orange;
}

#talent h3 {
  display: inline-block;
  width: 220px;
}
#talent i {
  margin-right: 5px;
}

.display {
  display: block;
}
.none-display {
  display: none;
}
@media screen and (max-width: 768px) {
  .left {
    display: none;
  }
  .right {
    margin-left: 0px;
    margin-top: 11vh;
  }
  #talent h3 {
    display: block;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff1e6;
    z-index: 2;
    text-align: center;
    padding-right: 10px;
    width: 100%;
    position: fixed;
    height: 10vh;
    top: 0;
    left: 0;
  }
}

/* CSS */
button {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  margin: 12px 0 0;
  padding: 0 25px;
  position: relative;
  text-align: center;
  transition: all 0.2s, box-shadow 0.08s ease-in;
}

button:hover {
  color: #405cf5;
  background-color: #fff;
}
